.ui{
    list-style: none;
    text-decoration-style: none;
    list-style-type: none;
    
    
    
}

.li{
    list-style: none;
    text-decoration-style: none;
    list-style-type: none;
    
    
}